THESPORTSDB_API_KEY=
THESPORTSDB_BASE_URL=https://www.thesportsdb.com/api/v2/json
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
